<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/admin/sign_up_form.css" rel="stylesheet" type="text/css">
    <script src="/js/admin/sign_up_form.js"></script>
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>관리자 회원가입</h4>
            </div>
            <div class="content">
                <form action="/admin/sign_up_confirm" name="sign_up_form" method="post" enctype="multipart/form-data">
                    <input type="text" name="a_id" placeholder="INPUT ID"><br>
                    <input type="password" name="a_pw" placeholder="INPUT PW"><br>
                    <input type="text" name="a_mail" placeholder="INPUT MAIL"><br>
                    <input type="text" name="a_phone" placeholder="INPUT PHONE"><br><br>
                    <p class="profile-image-label">프로필 이미지 (선택)</p>
                    <input type="file" name="profile_thum" placeholder="SELECT PROFILE IMAGE"><br>
                    <input type="button" value="SUBMIT" onclick="signupForm();">
                    <input type="reset" value="RESET">
                </form>
            </div>
        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>