<link href="/css/include/footer.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer id="footer">
    <div class="footer-wrap">
        <div class="business-info">
            <h4 class="business-title">(주)GOOBUY 사업자 정보</h4>
            <p class="business-text">상호 : (주)GOOBUY</p>
            <p class="business-text">대표자 : 김남수, 장진언, 김정현</p>
            <p class="business-text">사업자 등록번호 : 111-GOOD-BUY</p>
            <p class="business-text">통신판매신고번호 : 제 2024-GOOBUY-1115호</p>
            <p class="business-text">주소 : 경기 의정부시 시민로 80 센트럴타워 6층</p>
            <p class="business-text">대표번호 : 0507-1430-4112</p>
            <p class="business-text">메일 : goodbuy@goodbuy.co.kr</p>
        </div>

        <div class="footer-right">
            <h4 class="footer-right-title">고객센터 ></h4>
            <p class="footer-right-text">운영시간 : 9시-18시 (주말/공휴일 휴무, 점심시간 12시 - 13시)</p>
            <a href="/chat/adminContact" class="admin-contact-link">
                <i class="fas fa-envelope"></i> 관리자에게 문의하기
            </a>
            <br>
            <p class="footer-right-text">GOOBUY 이용약관</p>
            <p class="footer-right-text">“GOOBUY” 상점의 판매상품을 제외한 모든 상품들에 대하여, (주)GOOBUY는 통신판매중개자로서 거래 당사자가 아니며 판매 회원과 구매 회원 간의 상품거래 정보 및 거래에 관여하지 않고, 어떠한 의무와 책임도 부담하지 않습니다.</p>
            <span class="footer-copyright">© GOOD BUY all rights reserved.</span>
        </div>
    </div>
</footer>
