<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="/css/stat/stat.css" rel="stylesheet" type="text/css">

    <script src="/js/stat/stat.js"></script>

</head>
<body>
    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>

    <article>
        
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>
