.article {
    max-width: 1200px; /* 넓은 폭 */
    margin: 40px auto; /* 여백 추가 */
    padding: 20px;
    background: white;
    border-radius: 8px; /* 부드러운 모서리 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 깊이감 있는 그림자 */
}

.main-tab-buttons {
    margin-top: 40px;
    text-align: center;
}

.main-tab-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
}

.main-tab-btn.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold
}

.main-tab-content {
    display: none;
}

.main-tab-content.active {
    display: block;
}

.pie-chart {
    min-width: 300px;
    max-height: 500px;
}

/* 폼 스타일 */
form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;  /* 폼 안쪽 여백 줄임 */
    margin: 1px auto;
    width: 60%;
    max-width: 600px;  /* 폼 너비 줄임 */
}

/* Select input 스타일 */
select {
    width: 23%;
    padding: 10px 15px;  /* 선택창 패딩 줄임 */
    margin: 8px 0;  /* 선택창 간격 줄임 */
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9em;  /* 폰트 크기 줄임 */
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #3498db;
    outline: none;
}

/* 버튼 스타일 */
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;  /* 버튼 패딩 줄임 */
    border: none;
    border-radius: 8px;
    font-size: 0.9em;  /* 버튼 폰트 크기 줄임 */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 15px;
    width: 20%;
}

button:hover {
    background-color: #2980b9;
}

/* 차트 영역 */
#categorySalesChart1, #categorySalesChart2 ,#categorySalesChart3 {
    width: 80%;
    max-height: 500px;  /* 차트 높이를 줄임 */
    margin: 30px 0;  /* 차트 간격 줄임 */
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 카드 스타일 */
.card {
    background-color: #ffffff;  
    border-radius: 8px;          
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px;               
    margin: 20px 0;              
    width: 100%;                 
    max-width: 1200px;           
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: -10px;
}

.card h3 {
    font-size: 1.25em;   
    color: #2c3e50;     
    margin-bottom: 15px; 
    text-align: center;  
}
    
